// fonts
// :root {
//     --black: #000;
//     --light-grey-blue: rgba(184, 184, 185, 0.1);
//     --aqua: #14d9c4;
//     --black-8: rgba(0, 0, 0, 0.08);
//     --gunmetal: #54585a;
//     --blue-green: #099d8d;
//     --cool-grey: #b8b8b9;
//     --light-grey: #d6d5d5;
//     --cool-grey-opacity02: rgba(184, 184, 185, 0.2);
//     --white: #fff;
//   }

$fontMain: "Roboto", sans-serif;
$fontTitle: "Roboto Slab";

$fontSizeStandard: 16px;

$fontWeightTitle: bold;

//colors

$colorTitle: #fff;
$colorLink: #f26002;
$colorSecondary: #000000;
