// fonts

$fontMain: "Roboto", sans-serif;
$fontTitle: "Roboto Slab";
$fontWeightTitle: bold;

//font size

$fontSizeStandard: 16px;
$fontSizeMain: 18px;
$fontSizeMainTitle: 24px;

//colors

$colorTitle: #fff;
$colorLink: #f26002;
$colorSecondary: #000000;
$colorMenu: #0271bc;
$colorMain: #eff9ff;
$colorFooter: #304268;
$colorSpan: #8ccbea;
$colorParagraph: #4a4a4a;

