// fonts

$fontMain: "Roboto", sans-serif;
$fontTitle: "Roboto Slab";
$fontSizeStandard: 16px;
$fontSizeMain: 18px;
$fonSizeMainTitle: 24px;
$fontWeightTitle: bold;

//colors

$colorTitle: #fff;
$colorLink: #f26002;
$colorSecondary: #000000;
$colorMenu: #0271bc;
$colorMain: #eff9ff;
$colorFooter: #304268;

