.header {
  width: 100vw;
  height: 500px;
  background-image: url("/images/cover.jpg");
  background-size: cover;
  position: relative;
  background-position: center;
  color: white;

  &__burger {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.75rem;
    height: 2.75rem;
    position: fixed;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100vw;
    font-size: 16px;

    &--h1 {
      font-size: 42px;
      font-family: $fontTitle;
      font-weight: $fontWeightTitle;
      text-transform: uppercase;
      text-align: center;
      line-height: 55px;
      margin-top: 150px;
      margin-bottom: 20px;

      word-spacing: 100vw;
    }
  }
}

.header__title--span {
  font-family: $fontMain;
  font-size: $fontSizeStandard;
}
.header__title--button {
  border-radius: 50%;
  background-color: blue;
  height: 30px;
  width: 50px;
  margin-top: 15px;
}
