<footer class="footer">
  <a class="footer__arrow" href="#header">
    <img src="./images/ico-arrow.svg" alt="Arrow to main page" />
  </a>
  <div class="footer__div1">
    <nav class="footer__nav">
      <ul class="nav__list nav1">
        <li>
          <a href="https://adalab.es/">articles</a>
        </li>
        <li>
          <a href="https://adalab.es/">books</a>
        </li>
        <li>
          <a href="https://adalab.es/">events</a>
        </li>
        <li>
          <a href="https://adalab.es/">reasons</a>
        </li>
        <li>
          <a href="https://adalab.es/">tips</a>
        </li>
      </ul>
      <ul class="nav__list nav2">
        <li>
          <a href="https://adalab.es/">twitter</a>
        </li>
        <li>
          <a href="https://adalab.es/">instagram</a>
        </li>
        <li>
          <a href="https://adalab.es/">mastodon.social</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="footer__div2">
    &copy;2023
    <span class="footer__div2--span1"
      >we
      <span class="footer__div2--span2"
        ><i class="fa-solid fa-heart" class="heart"></i
      ></span>
      components</span
    >
  </div>
</footer>
